/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images.unsplash.com/photo-1523875176340-1298db8ee216?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: hsl(180, 100%, 15%, 0.9)!important;
box-shadow: 0 4px 20px -2px #000;
}

.card-header h4{
color: #e0ebeb;

}

.input-group-prepend span{
width: 50px;
background-color: #a3c2c2;
color: black;
border:0 !important;
outline: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: #e0ebeb;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #639c9c;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: #3d5c5c;
}

.links a{
margin-left: 4px;
}
